@import "config/var_alerte";

.alert_succes {
	background-color:$bcSucces;
	color :$cSucces;

	margin: 0px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.alert_informe {

	border: solid 3px $borderColorInf;
	background-color: $bcInf;
	color:$cInf;

	margin: 0px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.alert_warning {

	border: solid 5px $borderColorWarning;
	background-color: $bcWarning;
	color : $cWarning;

	margin: 0px;

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.alert_danger {
	background-color: $bcDanger;
	color :$cDanger;

	margin: 0px;

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

	font-size: 150%;
	font-weight: bold;
}