

@import "config/var_bouton";


.btn {


	/*taille 
	min-width: $width_button;
	min-height: $height_button;*/

	/*Couleur*/
	background-color: $color_button;
	color : $color_text_button;


	/*text*/
	font-weight: bold;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: $font_size_button;
	text-align: center;

	/*forme et contour */
	border-radius: 8px;
	border : none;

	/* MARGIN */
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;

	/* PADDING */
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;

	&>a {
		text-decoration: none;
		color : $color_text_button;	
	}

	&:hover {
		cursor: pointer;
		background-color: $color_button_hover;
	}

	&:active {
		cursor: pointer;
		background-color: $color_button_activ;
	}
}


.btn-lg {

	/*text*/
	font-size: $font_size_button*1.5;

	/*taille 
	min-width: $width_button_lg;
	min-height: $height_button_lg; */

	/* PADDING */
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.btn-small{

	/*text*/
	font-size: $font_size_button*0.60;

	/*taille 
	min-width: $width_button_sm;
	min-height: $height_button_sm;*/

	/* PADDING */
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;

	border-radius: 4px;
}

.btn-red {
	background-color: $button_red_color;
	color: $color_text_button_red;

	&>a {
		color: $color_text_button_red;
	}
	&:hover {
		background-color: $button_red_color_hover;
	}

	&:active {
		background-color: $button_red_color_active;
	}
}

.btn-black {
	background-color: $button_black_color;
	color: $color_text_button_black;

	&>a {
		color: $color_text_button_black;
	}
	&:hover {
		background-color: $button_black_color_hover;
	}

	&:active {
		background-color: $button_black_color_active;
	}
}

.btn-pink {
	background-color: $button_pink_color;
	color: $color_text_button_pink;

	&>a {
		color: $color_text_button_pink;
	}
	&:hover {
		background-color: $button_pink_color_hover;
	}

	&:active {
		background-color: $button_pink_color_active;
	}
}


.btn-flat {
	border: 1px solid grey;
	border-radius: 0px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;

	background-color: $color_button_flat;

	color: $color_text_button_flat;

	&>a {
		color: $color_text_button_flat;
	}

	&:hover {
		background-color:  $color_button_flat;
	}

	&:active {
		background-color:  $color_text_button_flat;
		color : $color_button_flat;

		&> a {
			color : $color_button_flat;
		}
	}
}


.btn-extra {
	width: 100%;

	margin-right: 0px;
	margin-left: 0px;

	border-radius: 0px;

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


.btn-fancy {
	background: #1d3f08; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1d3f08), color-stop(19%,#d7ea09), color-stop(35%,#f70000), color-stop(46%,#60f43f), color-stop(62%,#db20bf), color-stop(82%,#21ffda), color-stop(100%,#0c08e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #1d3f08 0%,#d7ea09 19%,#f70000 35%,#60f43f 46%,#db20bf 62%,#21ffda 82%,#0c08e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #1d3f08 0%,#d7ea09 19%,#f70000 35%,#60f43f 46%,#db20bf 62%,#21ffda 82%,#0c08e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #1d3f08 0%,#d7ea09 19%,#f70000 35%,#60f43f 46%,#db20bf 62%,#21ffda 82%,#0c08e0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #1d3f08 0%,#d7ea09 19%,#f70000 35%,#60f43f 46%,#db20bf 62%,#21ffda 82%,#0c08e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3f08', endColorstr='#0c08e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color : black;

	&>a {
		color: black;
	}

	&:active {
		

		background: #3a2bbf; /* Old browsers */
		background: -moz-linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3a2bbf), color-stop(14%,#36bcb3), color-stop(34%,#d7e236), color-stop(52%,#e80dce), color-stop(69%,#fc0707), color-stop(87%,#e6ea10), color-stop(100%,#00d815)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, #3a2bbf 0%,#36bcb3 14%,#d7e236 34%,#e80dce 52%,#fc0707 69%,#e6ea10 87%,#00d815 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg, #3a2bbf 0%,#36bcb3 14%,#d7e236 34%,#e80dce 52%,#fc0707 69%,#e6ea10 87%,#00d815 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg, #3a2bbf 0%,#36bcb3 14%,#d7e236 34%,#e80dce 52%,#fc0707 69%,#e6ea10 87%,#00d815 100%); /* IE10+ */
		background: linear-gradient(45deg, #3a2bbf 0%,#36bcb3 14%,#d7e236 34%,#e80dce 52%,#fc0707 69%,#e6ea10 87%,#00d815 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a2bbf', endColorstr='#00d815',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		&> a {
			color : black;
		}
	}
}