@import "config/var_grid";


@mixin grid-span( $nbSpan) {
	width: $nbSpan *(100/$nbCol) - 2*$gridMarge*1%;
}

@mixin grid-offset( $nbOffset ) {
	margin-left: $nbOffset * (100/$nbCol) + $gridMarge*1%;
}

%span {
    float: left;
    box-sizing: border-box;
    margin-left: $gridMarge * 1%;
    margin-right: $gridMarge * 1%;

    background-color: blue;
}

%grid {
    margin: 0 auto;
    overflow: hidden;

    [class*="span-"] {
            @extend %span;
        }

    @for $i from 1 through $nbCol {
        .span-#{$i} { @include grid-span($i); }
    }

    @for $i from 1 through ($nbCol - 1) {
        .offset-#{$i} { @include grid-offset($i); }
    }

    .grid-row {
   		width: 100%;
 		overflow: hidden;

 		margin-top: $rowMargeTop*1%;
 		margin-bottom: $rowMargeTop;
	}

}


.grid-container {
	@extend %grid;
}