
.jumbotron {

	@extend .align_center;

	background-color: #E6E6E6;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;

	& h1 {
		margin-bottom: 10px;
		color : black;
	}

	& p {
		margin-bottom: 10px;
	}
	
} 