@import "config/var_media";

.mobile{
	visibility: visible;
	@media screen and (min-width: $maxMobileSize) {
		visibility: hidden;
	}
}

.tablette {
	visibility: visible;
	@media screen and (max-width: $minTabletteSize) {
		visibility: hidden;
	}
	@media screen and (min-width: $maxTabletteSize) {
		visibility: hidden;
	}
}

.pc {
	visibility: visible;
	@media screen and (min-width: $minPcSize) {
		visibility: hidden;
	}
}
}