@import "config/var_nav";

nav ul {
	padding: 0;


	&>li {
		background-color: $backgroundColor;
		text-align: center;
		height:2em;
		line-height: 2em;
		font-weight: bold;
		border-radius: 6px;
		border: 1px solid $borderColorMobile;
		list-style-type: none;
		color:$textColor;

		&>a	{
			display: block;
			width:100%;
			height:100%;
			text-decoration: none;
			font-weight: bold;
			color: $textColor;
		} 
	}



	@media screen and (min-width: $ruptureSize) {
		background-color: $backgroundColor;
		width:100%;

		&>li {
			box-sizing: border-box;
			display:inline-block;
			margin: 0 0 0 0 ;
			padding: 0 15px 0 10px;
			height:3em;
			line-height: 3em;
			border-radius: 0px;
			border: none;
			border-left: 2px solid $borderColorOther;

			&:hover{
				background-color: lighten($backgroundColorHover, 20) ;
				
			}
		}
	}
}