@import "config/var_typo";


/* GESTION DES TITRES */
h1, .h1 {
	font-size: $h1_size; 
	color : $h1_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h1_size);
		color: grayscale($h1_color)
	}

}

h2, .h2 {
	font-size:  $h2_size;
	color : $h2_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h2_size);
		color: grayscale($h2_color)
	}
}

h3, .h3 {
	font-size:  $h3_size;
	color : $h3_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h3_size);
		color: grayscale($h3_color)
	}
}

h4, .h4 {
	font-size:  $h4_size;
	color : $h4_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h4_size);
		color: grayscale($h4_color)
	}
}

h5, .h5 {
	font-size:  $h5_size;
	color : $h5_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h5_size);
		color: grayscale($h5_color)
	}
}

h6, .h6 {
	font-size:  $h6_size;
	color : $h6_color;

	& small, &.sub {
		font-size: ($ss_titre_coef*$h6_size);
		color: grayscale($h6_color)
	}
}


/* GESTION DES PARAGRAFE */

body {
	font-family: $body_style;
	font-size: 100%
}

p {
	margin-bottom: $paragraphe_marge_inf;
}

/*G GESTION DES BALISE INLINE */
mark {
	background-color: $mark_highlight_color;
	color: $base_color;
}

del {
	text-decoration: line-through;
}

ins {

}

u {
	text-decoration: underline;
}

strong {
	font-weight: bold;
	font-size: 101%;
}

em {
	font-style: italic;
}

abbr {
	text-transform: uppercase;
	border-bottom: dotted 1px black;
}


/* GESTION DES SITATION eT DU CODE */
q {
	@extend em;
	background-color: lighten(grey,48%);
	padding-left: 2px;
	padding-right: 4px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;

	&:before{
		content : "\"";
	}

	&:after{
		content : "\"";
	}
}

blockquote {
	@extend em;
	margin-right: 2%;
	margin-left : 2%;
	padding-left: 5%;
	padding-right : 5%;
	padding-top : 1%;
	padding-bottom: 1%;
	width: 86%;
	background-color: #F4FA58;

	&:before{
		position: absolute;
		color: orange;
		font-size: 200%;
		content:'\201C';
		left: 4%;

	}
	&:after{
		color: orange;
		font-size: 200%;
		content:'\201C';
		position: absolute;
		right: 4%;
	}
}

code {
	padding-top : 1%;
	padding-bottom: 1%;
	margin-right: 2%;
	margin-left : 2%;
	padding-left: 5%;
	padding-right : 5%;
	background-color: #E6E6E6;
	width: 86%;
	white-space: pre;
	display: inline-block;
}


.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

.align_center {
	text-align: center;
}

.align_justify {
	text-align: justify;
}

.caps_lock_on {
	text-transform: uppercase;
}

.caps_lock_off {
	text-transform: lowercase;
}