<head>
  <link rel="stylesheet" href="framework.css">
<style type="text/css">
body {
	padding: 0px;
	margin: 0px;
}
</style>
</head>

<p class="alert_succes">Bravo vous avez reussi ! </p>
</br>
<p class="alert_informe">on vous informe que </p>
</br>
<p class="alert_warning">avertissemetn !!!</p>
</br>
<p class="alert_danger">Attention danger</p>