<head>
  <link rel="stylesheet" href="framework.css">

</head>

<button class="btn btn-extra">
<a href="#">trop beau!!!</a>
</button>
</br>
</br>
</br>
<button class="btn btn-pink btn-flat btn-pink">
large!!
</button>
</br>
</br>
</br>
<button class="btn btn-flat btn-fancy ">
small <a> test </a>
</button>
