/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, q, blockquote, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

nav ul {
  padding: 0; }
  nav ul > li {
    background-color: blue;
    text-align: center;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid black;
    list-style-type: none;
    color: white; }
    nav ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      font-weight: bold;
      color: white; }
  @media screen and (min-width: 450px) {
    nav ul {
      background-color: blue;
      width: 100%; }
      nav ul > li {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 0 0 0;
        padding: 0 15px 0 10px;
        height: 3em;
        line-height: 3em;
        border-radius: 0px;
        border: none;
        border-left: 2px solid black; }
        nav ul > li:hover {
          background-color: #ff6666; } }

.alert_succes {
  background-color: #01DF01;
  color: black;
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%; }

.alert_informe {
  border: solid 3px #FE9A2E;
  background-color: #F3F781;
  color: black;
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%; }

.alert_warning {
  border: solid 5px red;
  background-color: white;
  color: black;
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%; }

.alert_danger {
  background-color: #DF0101;
  color: black;
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 150%;
  font-weight: bold; }

/* Variable pour les boutons */
/* Bouton de base */
/* Bouton large*/
/* Bouton large*/
/* Bouton rouge */
/* Bouton noir */
/* Bouton rose */
/* Bouton flat */
.btn {
  /*taille 
  min-width: $width_button;
  min-height: $height_button;*/
  /*Couleur*/
  background-color: #04B404;
  color: #EFFBFB;
  /*text*/
  font-weight: bold;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 100%;
  text-align: center;
  /*forme et contour */
  border-radius: 8px;
  border: none;
  /* MARGIN */
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  /* PADDING */
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px; }
  .btn > a {
    text-decoration: none;
    color: #EFFBFB; }
  .btn:hover {
    cursor: pointer;
    background-color: #045FB4; }
  .btn:active {
    cursor: pointer;
    background-color: #5F04B4; }

.btn-lg {
  /*text*/
  font-size: 150%;
  /*taille 
  min-width: $width_button_lg;
  min-height: $height_button_lg; */
  /* PADDING */
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px; }

.btn-small {
  /*text*/
  font-size: 60%;
  /*taille 
  min-width: $width_button_sm;
  min-height: $height_button_sm;*/
  /* PADDING */
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  border-radius: 4px; }

.btn-red {
  background-color: #8A0808;
  color: #E3CEF6; }
  .btn-red > a {
    color: #E3CEF6; }
  .btn-red:hover {
    background-color: #DF0101; }
  .btn-red:active {
    background-color: #FF4000; }

.btn-black {
  background-color: #000000;
  color: #EFEFFB; }
  .btn-black > a {
    color: #EFEFFB; }
  .btn-black:hover {
    background-color: #2E2E2E; }
  .btn-black:active {
    background-color: #585858; }

.btn-pink {
  background-color: #FF0080;
  color: #FFFF00; }
  .btn-pink > a {
    color: #FFFF00; }
  .btn-pink:hover {
    background-color: #FF00BF; }
  .btn-pink:active {
    background-color: #FF00FF; }

.btn-flat {
  border: 1px solid grey;
  border-radius: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: silver;
  color: dimgray; }
  .btn-flat > a {
    color: dimgray; }
  .btn-flat:hover {
    background-color: silver; }
  .btn-flat:active {
    background-color: dimgray;
    color: silver; }
    .btn-flat:active > a {
      color: silver; }

.btn-extra {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.btn-fancy {
  background: #1d3f08;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1d3f08), color-stop(19%, #d7ea09), color-stop(35%, #f70000), color-stop(46%, #60f43f), color-stop(62%, #db20bf), color-stop(82%, #21ffda), color-stop(100%, #0c08e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #1d3f08 0%, #d7ea09 19%, #f70000 35%, #60f43f 46%, #db20bf 62%, #21ffda 82%, #0c08e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3f08', endColorstr='#0c08e0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: black; }
  .btn-fancy > a {
    color: black; }
  .btn-fancy:active {
    background: #3a2bbf;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3a2bbf), color-stop(14%, #36bcb3), color-stop(34%, #d7e236), color-stop(52%, #e80dce), color-stop(69%, #fc0707), color-stop(87%, #e6ea10), color-stop(100%, #00d815));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%);
    /* IE10+ */
    background: linear-gradient(45deg, #3a2bbf 0%, #36bcb3 14%, #d7e236 34%, #e80dce 52%, #fc0707 69%, #e6ea10 87%, #00d815 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a2bbf', endColorstr='#00d815',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .btn-fancy:active > a {
      color: black; }

.grid-container [class*="span-"] {
  float: left;
  box-sizing: border-box;
  margin-left: 0.2%;
  margin-right: 0.2%;
  background-color: blue; }

.grid-container {
  margin: 0 auto;
  overflow: hidden; }
  .grid-container .span-1 {
    width: 12.1%; }
  .grid-container .span-2 {
    width: 24.6%; }
  .grid-container .span-3 {
    width: 37.1%; }
  .grid-container .span-4 {
    width: 49.6%; }
  .grid-container .span-5 {
    width: 62.1%; }
  .grid-container .span-6 {
    width: 74.6%; }
  .grid-container .span-7 {
    width: 87.1%; }
  .grid-container .span-8 {
    width: 99.6%; }
  .grid-container .offset-1 {
    margin-left: 12.7%; }
  .grid-container .offset-2 {
    margin-left: 25.2%; }
  .grid-container .offset-3 {
    margin-left: 37.7%; }
  .grid-container .offset-4 {
    margin-left: 50.2%; }
  .grid-container .offset-5 {
    margin-left: 62.7%; }
  .grid-container .offset-6 {
    margin-left: 75.2%; }
  .grid-container .offset-7 {
    margin-left: 87.7%; }
  .grid-container .grid-row {
    width: 100%;
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 1; }

.jumbotron {
  background-color: #E6E6E6;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px; }
  .jumbotron h1 {
    margin-bottom: 10px;
    color: black; }
  .jumbotron p {
    margin-bottom: 10px; }

/* Parametrage de la typographie */
/* les bassic */
/* Style de text */
/* Les titres */
/*h1*/
/*h2*/
/*h3*/
/*h4*/
/*h5*/
/*h6*/
/* Les paragraphe  et block inline*/
/* GESTION DES TITRES */
h1, .h1 {
  font-size: 2rem;
  color: red; }
  h1 small, h1.sub, .h1 small, .h1.sub {
    font-size: 1.5rem;
    color: gray; }

h2, .h2 {
  font-size: 1.8rem;
  color: black; }
  h2 small, h2.sub, .h2 small, .h2.sub {
    font-size: 1.35rem;
    color: black; }

h3, .h3 {
  font-size: 1.6rem;
  color: black; }
  h3 small, h3.sub, .h3 small, .h3.sub {
    font-size: 1.2rem;
    color: black; }

h4, .h4 {
  font-size: 1.4rem;
  color: black; }
  h4 small, h4.sub, .h4 small, .h4.sub {
    font-size: 1.05rem;
    color: black; }

h5, .h5 {
  font-size: 1.3rem;
  color: black; }
  h5 small, h5.sub, .h5 small, .h5.sub {
    font-size: 0.975rem;
    color: black; }

h6, .h6 {
  font-size: 1.2rem;
  color: black; }
  h6 small, h6.sub, .h6 small, .h6.sub {
    font-size: 0.9rem;
    color: black; }

/* GESTION DES PARAGRAFE */
body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%; }

p {
  margin-bottom: 5px; }

/*G GESTION DES BALISE INLINE */
mark {
  background-color: orange;
  color: black; }

del {
  text-decoration: line-through; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold;
  font-size: 101%; }

em, q, blockquote {
  font-style: italic; }

abbr {
  text-transform: uppercase;
  border-bottom: dotted 1px black; }

/* GESTION DES SITATION eT DU CODE */
q {
  background-color: #fafafa;
  padding-left: 2px;
  padding-right: 4px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; }
  q:before {
    content: "\""; }
  q:after {
    content: "\""; }

blockquote {
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 86%;
  background-color: #F4FA58; }
  blockquote:before {
    position: absolute;
    color: orange;
    font-size: 200%;
    content: '\201C';
    left: 4%; }
  blockquote:after {
    color: orange;
    font-size: 200%;
    content: '\201C';
    position: absolute;
    right: 4%; }

code {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #E6E6E6;
  width: 86%;
  white-space: pre;
  display: inline-block; }

.align_left {
  text-align: left; }

.align_right {
  text-align: right; }

.align_center, .jumbotron {
  text-align: center; }

.align_justify {
  text-align: justify; }

.caps_lock_on {
  text-transform: uppercase; }

.caps_lock_off {
  text-transform: lowercase; }

/*# sourceMappingURL=frameword.css.map */
