<head>
  <link rel="stylesheet" href="framework.css">
</head>


<div class="grid-container">

<div class="grid-row"> 

<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>
<div class="span-1">span 1</div>

</div>

<div class="grid-row"> 

<div class="span-1">span 1</div>
<div class="span-2">span 2</div>
<div class="span-3 offset-1">span 3 offset 1</div>

</div>
<div class="grid-row"> 
<div class="span-1">offset 0</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-1">offset 1</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-2">offset 2</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-3">offset 3</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-4">offset 4</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-5">offset 5</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-6">offset 6</div>
</div>
<div class="grid-row"> 
<div class="span-1 offset-7">offset 7</div>
</div>

</div>

