<head>
  <link rel="stylesheet" href="framework.css">
</head>



<div class="jumbotron"> 
<h1>Jumbotron heading</h1>
<p>Créer une classe pour mettre en forme un jumbotron, c'est à dire une boite mettant en
valeur son contenu constitué en général d'un titre, d'un paragraphe et d'un bouton
: </p>

<button class="btn btn-fancy">
Sign up today
</button>
</div>