/* Parametrage de la typographie */

/* les bassic */
$base_color:black;
$ss_titre_coef:0.75;

/* Style de text */
$body_style:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

/* Les titres */

/*h1*/
$h1_size: 2rem;
$h1_color: red;

/*h2*/
$h2_size: 1.80rem;
$h2_color: $base_color;

/*h3*/
$h3_size: 1.60rem;
$h3_color: $base_color;

/*h4*/
$h4_size: 1.40rem;
$h4_color: $base_color;

/*h5*/
$h5_size: 1.30rem;
$h5_color: $base_color;

/*h6*/
$h6_size: 1.20rem;
$h6_color: $base_color;


/* Les paragraphe  et block inline*/
$paragraphe_marge_inf: 5px;
$mark_highlight_color: orange;
