//succes
$bcSucces:#01DF01;
$cSucces:black;


//informe
$bcInf:#F3F781;
$cInf:black;
$borderColorInf:#FE9A2E;

//warning
$bcWarning:white;
$cWarning:black;
$borderColorWarning:red;

//danger
$bcDanger:#DF0101;
$cDanger:black;