/* Variable pour les boutons */


/* Bouton de base */
$color_button: #04B404;
$color_button_hover: #045FB4;
$color_button_activ:#5F04B4;
$color_text_button: #EFFBFB;
$font_size_button: 100%;
$width_button: 100px;
$height_button:35px;


/* Bouton large*/
$width_button_lg: 130px;
$height_button_lg:45px;

/* Bouton large*/
$width_button_sm: 75px;
$height_button_sm:20px;

/* Bouton rouge */
$button_red_color:#8A0808;
$button_red_color_hover:#DF0101;
$button_red_color_active:#FF4000;
$color_text_button_red: #E3CEF6;


/* Bouton noir */
$button_black_color:#000000;
$button_black_color_hover:#2E2E2E;
$button_black_color_active:#585858;
$color_text_button_black: #EFEFFB;


/* Bouton rose */
$button_pink_color:#FF0080;
$button_pink_color_hover:#FF00BF;
$button_pink_color_active:#FF00FF;
$color_text_button_pink: #FFFF00;


/* Bouton flat */
$color_button_flat: silver;
$color_text_button_flat : dimgray;